<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Number of Products</th>
      <th scope="col">Number of Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= @products.count %></th>
      <th><%= @categories.count %></th>
    </tr>
  </tbody>
</table>

